<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header th:fragment="SiteHeader">
    <nav>
        <a th:href="@{'/'}"><img src="/img/coolcats-logo.png" alt="coolcats logo" class="logo"></a>
       <div class="post-nav">
           <a class="btn" th:href="@{'/unapprovedPosts'}">Niezatwierdzone posty</a>
           <a class="btn" th:href="@{'/createPost'}">Dodaj post</a>
       </div>

        <div class="user-nav" sec:authorize="isAuthenticated()">
            <form  th:action="@{/logout}" method="post">
                <p>Witaj, <a sec:authentication="name" th:href="@{'/profile'}"></a></p>
                <button  class="btn user-btn" type="submit">wyloguj</button>
            </form>
        </div>
        <div class = "user-nav" sec:authorize="!isAuthenticated()">
            <a class="btn user-btn" th:href="@{'/login'}">Zaloguj się</a>
            <a class="btn user-btn" th:href="@{'/register'}">Zarejestruj się</a>
        </div>
    </nav>
</header>
</body>
</html>