<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header th:fragment="SiteHeader">
    <a th:href="@{'/'}"><h1>coolcats</h1></a>
    <nav>
        <a th:href="@{'/unapprovedPosts'}">Niezatwierdzone posty</a>
        <a th:href="@{'/createPost'}">Dodaj post</a>

        <div sec:authorize="isAuthenticated()">
<!--            <a th:href="@{'/logout'}">Wyloguj się</a>-->
            <form th:action="@{/logout}" method="post">
                <button type="submit">Wyloguj</button>
            </form>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <a th:href="@{'/register'}">Zarejestruj się</a>
            <a th:href="@{'/login'}">Zaloguj się</a>
        </div>
    </nav>
</header>
</body>
</html>