:root {
    --color-nav: #efccec;
    --color-content:#f3efef;
    --color-txt: #38273f;
}
*{
    margin: 0;
    color: var(--color-txt);
    text-decoration: none;
    font-family: fantasy;
}
body{
    background-color: var(--color-nav);
}
.logo{
    background-color: var(--color-nav);
    height: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: var(--color-nav);
    font-size: 25px;
    border-bottom: 1px solid var(--color-txt);
}
.post-nav{
    width: 30vw;
    display: flex;
    justify-content: space-between;
    color: var(--color-txt);
}
.post-nav>a{
    border-bottom: 1px solid var(--color-txt);
    padding: 5px;
}
.user-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15vw;
}
.user-nav>form{
    display: flex;
    justify-content: space-around;
    width: 15vw;
}
.user-btn{
    background-color: transparent;
    font-size: 25px;
    border: none;
}
.btn:hover{
    color: #f3efef;
    text-shadow: 0 0 2px var(--color-txt);
}
/*KONIEC NAWIGACJI------------------------------------------*/
.search{
    margin-left: 10vw;
    width: 80vw;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background-color: var(--color-content);
}
.search-box{
    padding-left: 10px;
    width: 50vw;
    border-radius: 10px 0 0 10px;
    border: 1px solid var(--color-txt);;
}
.search-button{
    border-radius: 0 10px 10px 0;
    border: transparent;
    border: 1px solid var(--color-txt);;
}
.search-icon{
    width: 40px;
}
.posts{
    margin-left: 10vw;
    width: 80vw;
    background-color: var(--color-content);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}
.post{
    background-color: #d9bbb5;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 30px;
    border-radius: 10px;
}
.post>div>a{
    font-weight: normal;
    margin-bottom: 20px;
    display: inline-block;
}

.post>div>p{
    font-weight: normal;
    margin-bottom: 20px;
    display: inline-block;
}
.posts>.post>h2{
    display: block;
    margin:0 0 30px 0;
    padding: 10px 0;
    width: 45vw;
    /*padding: 10px 10vw;*/
    background-color: #f5e4dd;
    color: #312d30;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
}
.posts>.post>img{
    width: 45vw;
    border-radius: 10px;
}
/*LOGOWANIE------------------------------------------*/
.login-form{
    padding-top: 20px;
    display: flex;
    width: 180px;
    align-items: center;
    flex-wrap: wrap;
    color: var(--color-txt);
    font-weight: bold;
}
.remember{
    font-weight: normal;
}
.login-form>h2{
    text-transform: uppercase;
}
.login-element{
    margin-top:10px;
}
.checkbox{
    margin-right: 10px;
}

/*PROFIL------------------------------------------*/
.user-info{
    text-align: center;
    background-color: var(--color-nav);
    width: 45vw;
    height: 100px;
    padding: 20px 0;
    margin: 20px 0 50px 0;
    border-radius: 10px;
}
.profile-btn{
    margin-bottom: 20px;
    display: inline-block;
}
.profile-btn>button>img{
    width: 30px;
}
.edit-title{
    display: flex;
    justify-content: center;
    margin-top:-25px;
}
.edit-box{
    /*margin-top:-25px;*/
    width: 30vw;
    height: 30px;
    border-radius: 10px 0 0 10px;
}
.edit-icon{
    height: 35px;
    border-radius: 0 10px 10px 0;
}
/*ERROR------------------------------------------*/
.site-error{
    text-align: center;
    background-color: var(--color-content);
    width: 55vw;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    border-radius: 20px;
    margin: 200px auto;
    padding: 0 100px;
}
.site-error>a{
    font-weight: bold;
}
/*ERROR------------------------------------------*/
footer{
    position: static;
    bottom: 0;
    width: 100%;
    background-color: var(--color-nav);
    display: flex;
    justify-content: center;
    padding: 10px 0;
}