<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: SiteHead}">
</head>
<body>
<header th:replace="~{fragments/header :: SiteHeader}"></header>
<div class="posts">
    <form class="login-form" th:action="@{/createPost/submit}" method="post" th:object="${post}" enctype="multipart/form-data">
        <label class="login-element" for="pictureTitle">Tytuł:</label>
        <input class="login-element" type="text" name="pictureTitle" id="pictureTitle" th:field="*{title}" required>
        <p class="login-element" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
        <label class="login-element" for="image">Dodaj zdjęcie:</label>
        <input class="login-element" type="file" name="image" id="image" accept="image/*" required>
        <button class="login-element btn" type="submit">Dodaj</button>
    </form>
    <p class="login-element" th:if="${error != null}" th:text="${error}" style="color: red;"></p>
</div>
</body>
</html>