<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: SiteHead}">
</head>
<body>
<header th:replace="~{fragments/header :: SiteHeader}"></header>
<form th:action="@{/createPost/submit}" method="post" th:object="${post}">
    <label for="pictureTitle">Tytuł:</label>
    <input type="text" name="pictureTitle" id="pictureTitle" th:field="*{title}" required>
    <label for="pictureLink">Link do zdjęcia:</label>
    <input type="text" name="pictureLink" id="pictureLink" th:field="*{picturePath}" required>
    <button type="submit">Dodaj</button>
</form>
</body>
</html>