<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: SiteHead}">
</head>
<body>
<header th:replace="~{fragments/header :: SiteHeader}"></header>
<p th:text="${successMessage}"></p>
<form th:action="@{/login}" method="post">
    <h2>Logowanie:</h2>
    <label for="username">Login:</label>
    <input type="text" name="username" id="username" required>
    <label for="passwd">Hasło:</label>
    <input type="password" name="passwd" id="passwd" required>
    <input type="checkbox" name="remember-me" id="remember-me">
    <label for="remember-me">Zapamiętaj mnie</label>
    <button type="submit">Zaloguj</button>
</form>
</body>
</html>