<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: SiteHead}">
</head>
<body>
<header th:replace="~{fragments/header :: SiteHeader}"></header>

<div class="posts">
    <div class="user-info">
        <h2>Dane użytkownika</h2>
        <p th:text="'Nazwa użytkownika: ' + ${user.getUsername()}"></p>
        <p th:text="'Data dołączenia: ' + ${#dates.format(user.getJoinDate(), 'dd-MM-yyyy')}"></p>
    </div >
    <div th:if="${#authentication.principal.getUsername() eq user.getUsername()}" class="user-info">
        <h2>Informacje o Twoim koncie</h2>
        <p th:text="'Status użytkownika: ' + ${user.getStatus()}"></p>
        <p th:text="'E-mail: ' + ${user.getEmail()}"></p>
    </div>
    <div sec:authorize="hasAuthority('admin')" th:if="${user.getStatus() != 'admin'}" class="user-info">
        <h2>Szczegóły użytkownika:</h2>
        <p th:text="'Status użytkownika: ' + ${user.getStatus()}"></p>
        <p th:text="'E-mail: ' + ${user.getEmail()}"></p>
    </div>
    <h2>Posty użytkownika</h2>
    <div class="post" th:each="userpost : ${userposts}" th:with="postId=${userpost.getId()},userId=${user.getId()}">
        <h2 th:text="${userpost.title}"></h2>
        <div>
            <form class="profile-btn edit-title" th:if="${#authentication.principal.getUsername() eq user.getUsername() or #authentication.principal.getAuthority().contains('admin')}"
                  th:action="@{/profile/__${userId}__/modify/__${postId}__}" method="post">
                <input class="edit-box" type="text" name="title" required>
                <button class="edit-icon" type="submit"><img src="/img/modify-icon.png" alt="ikona edycji"></button>
            </form>
        </div>
        <div>
            <p class="profile-btn" th:text="'Utworzone ' + ${#dates.format(userpost.getCreatedAt(), 'dd-MM-yyyy')}"></p>
            <form class="profile-btn" th:if="${#authentication.principal.getUsername() eq user.getUsername() or #authentication.principal.getAuthority().contains('admin')}"
                  th:action="@{/profile/__${userId}__/delete/__${postId}__}" method="post">
                <button type="submit" >
                    <img src="/img/delete-btn.png" alt="ikona usuwania">
                </button>
            </form>
            <form class="profile-btn" th:if="${#authentication.principal.getAuthority().contains('admin') and userpost.getStatus() == 'unverified'}"
                  th:action="@{/profile/__${userId}__/verify/__${postId}__}" method="post">
                <button type="submit">
                    <img src="/img/approve-icon.png" alt="ikona zatwierdzania">
                </button>
            </form>
        </div>
        <img th:src="@{${userpost.picturePath}}" th:alt="${userpost.title}">
    </div>
    <p th:if="${user.getPosts().isEmpty()}" th:text="'Brak dodanych postów'"></p>
</div>
</body>
</html>