<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: SiteHead}">
</head>
<body>
<header th:replace="~{fragments/header :: SiteHeader}"></header>
<div>
    <h2>Dane użytkownika</h2>
    <p th:text="'Nazwa użytkownika: ' + ${user.getUsername()}"></p>
    <p th:text="'Data dołączenia: ' + ${#dates.format(user.getJoinDate(), 'dd-MM-yyyy')}"></p>
</div>
<div th:if="${#authentication.principal.getUsername() eq user.getUsername()}">
    <h2>Informacje o Twoim koncie</h2>
    <p th:text="'Status użytkownika: ' + ${user.getStatus()}"></p>
    <p th:text="'E-mail: ' + ${user.getEmail()}"></p>
</div>
<div sec:authorize="hasAuthority('admin')">
    <h2>Szczegóły użytkownika:</h2>
    <p th:text="'Status użytkownika: ' + ${user.getStatus()}"></p>
    <p th:text="'E-mail: ' + ${user.getEmail()}"></p>
</div>
<div class="posts">
    <h2>Posty użytkownika</h2>
    <div class="post" th:each="userpost : ${user.getPosts()}" th:with="postId=${userpost.getId()},userId=${user.getId()}">
        <h2 th:text="${userpost.title}"></h2>
        <span th:text="'Utworzone ' + ${#dates.format(userpost.getCreatedAt(), 'dd-MM-yyyy')}"></span>
        <form th:if="${#authentication.principal.getUsername() eq user.getUsername()}"
              th:action="@{/profile/__${userId}__/delete/__${postId}__}" method="post">
            <button type="submit">
                <img src="/img/delete-btn.png" alt="ikona usuwania" style="width: 30px">
            </button>
        </form>        <img th:src="@{${userpost.picturePath}}" th:alt="${userpost.title}">
    </div>
</div>
</body>
</html>