<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: SiteHead}">
</head>
<body>
<header th:replace="~{fragments/header :: SiteHeader}"></header>
<div class="posts">
<form class="login-form" th:action="@{/register/submit}" method="post" th:object="${user}">
    <h2>Rejestracja:</h2>
    <label class="login-element" for="username">Login:</label>
    <input class="login-element" type="text" name="username" id="username" th:field="*{username}" required title="Podaj nazwę!">
    <p class="login-element" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
    <label class="login-element" for="passwd">Hasło:</label>
    <input class="login-element" type="password" name="passwd" id="passwd" th:field="*{passwd}" required title="Podaj hasło!">
    <p class="login-element" th:if="${#fields.hasErrors('passwd')}" th:errors="*{passwd}"></p>
    <label class="login-element" for="email">E-mail:</label>
    <input class="login-element" type="text" name="email" id="email" th:field="*{email}" required title="Podaj email!">
    <p class="login-element" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    <button class="login-element btn" type="submit">Zarejestruj</button>
</form>
</div>
<footer th:replace="~{fragments/footer :: SiteFooter}"></footer>
</body>
</html>