<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: SiteHead}">
</head>
<body>
<header th:replace="~{fragments/header :: SiteHeader}"></header>
<form th:action="@{/register/submit}" method="post" th:object="${user}">
    <h2>Rejestracja:</h2>
    <label for="username">Login:</label>
    <input type="text" name="username" id="username" th:field="*{username}" required title="Podaj nazwę!">
    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
    <label for="passwd">Hasło:</label>
    <input type="password" name="passwd" id="passwd" th:field="*{passwd}" required title="Podaj hasło!">
    <p th:if="${#fields.hasErrors('passwd')}" th:errors="*{passwd}"></p>
    <label for="email">E-mail:</label>
    <input type="text" name="email" id="email" th:field="*{email}" required title="Podaj email!">
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    <button type="submit">Zarejestruj</button>
</form>
</body>
</html>