<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: SiteHead}">
</head>
<body>
<header th:replace="~{fragments/header :: SiteHeader}"></header>
<form class="search" th:action="@{/unapprovedPosts}" method="get">
    <input class="search-box" type="text" name="search" placeholder="Wyszukaj niezatwierdzone posty">
    <button class="search-button" type="submit"><img class="search-icon" src="/img/search-icon.png" alt="ikona wyszukiwania"></button>
</form>
<div class="posts" >
    <div class="post" th:each="post : ${posts}" th:if="${post.getStatus()}=='unverified'">
        <h2 th:text="${post.title}"></h2>
        <div>
            <p th:text="'Utworzone ' + ${#dates.format(post.getCreatedAt(), 'dd-MM-yyyy')} + ' przez '"></p>
            <a th:href="@{/profile/__${userId}__}" th:text="${post.getUser().getUsername()}"></a>
        </div>
        <img th:src="@{${post.picturePath}}" th:alt="${post.title}">
    </div>
</div>
</body>
</html>